---
layout: default
---
<main>
    <section class="left_sidebar">
        <h2>Other categories:</h2>

        {% for category in page.other_categories %}
        <div>{% include category_link.html language=page.language category=category %}</div>
        {% endfor %}
    </section>

    <section>
        <h1>{{ page.category.name }}</h1>

        {% assign posts = site.posts | where_exp: 'post', 'post.item.system.language == page.language' %}
        {% assign category_posts = posts | where_exp: 'post', 'post.categories contains page.category.codename' %}

        {% include posts.html posts=category_posts heading_level=2 %}
    </section>
</main>