---
layout: default
---

<main>
    <h1>{{ page.taxonomy_group.system.name }}</h1>

{% for category in page.taxonomy_group.terms %}
    {% assign posts = site.posts | where_exp: 'post', 'post.categories contains category.codename' %}

        <div>
            <a href="{{ page.language | append:'/categories/' | append: category.codename | relative_url }}">
                <strong>{{ category.name }}</strong>
            </a>
            ({{ posts.size }} posts)
        </div>
{% endfor %}
</main>
