---
layout: default
---
<main>
    <section class="left_sidebar">
        <h2>Other tags:</h2>

        {% for tag in page.other_tags %}
        <div>{% include tag_link.html language=page.language tag=tag %}</div>
        {% endfor %}
    </section>

    <section>
        <h1>{{ page.tag.name }}</h1>

        {% assign posts = site.posts | where_exp: 'post', 'post.item.system.language == page.language' %}
        {% assign tag_posts = posts | where_exp: 'post', 'post.tags contains page.tag.codename' %}

        {% include posts.html posts=tag_posts heading_level=2 %}
    </section>
</main>